In [1]:
import pandas as pd

In [2]:
data_raw = pd.read_csv("../data/dataset_heart.csv")

example

In [3]:
#  -- 13. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

In [4]:
data_raw["thal"].unique()

array([3, 7, 6], dtype=int64)

In [5]:
data_thal=pd.DataFrame()

In [6]:
  #-- 13. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
id=[3,6,7]
thal_value=["normal","fixed defect","reversable defect"]
data_thal["id"]=id
data_thal["thal_value"]=thal_value
data_thal.to_csv('../data/data_thal.csv',index=False)
data_thal.head()

   id         thal_value
0   3             normal
1   6       fixed defect
2   7  reversable defect

In [7]:
data_raw["sex "].unique()

array([1, 0], dtype=int64)

In [8]:
  #-- 2. sex       
#4 sex: sex (1 = male; 0 = female)
id=[0,1]
sex_value=["female", "male"]
data_sex=pd.DataFrame()
data_sex["id"]=id
data_sex["sex_value"]=sex_value
data_sex.to_csv('../data/data_sex.csv',index=False)
data_sex.head()

   id sex_value
0   0    female
1   1      male

In [9]:
data_raw.head()

,age,sex,chest pain type,resting blood pressure,serum cholestoral,fasting blood sugar,resting electrocardiographic results,max heart rate,exercise induced angina,oldpeak,ST segment,major vessels,thal,heart disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,2
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,1
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,2
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,1
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,1

In [10]:
  #-- 3. chest pain type  (4 vales)       
  ## 9 cp: chest pain type
  ##      -- Value 1: typical angina
  ##      -- Value 2: atypical angina
  ##      -- Value 3: non-anginal pain
  ##      -- Value 4: asymptomatic
id=[1,2,3,4]
cp_value=[
      "typical angina",
      "atypical angina",
      "non-anginal pain",
      "asymptomatic"
]
data_cp=pd.DataFrame()
data_cp["id"]=id
data_cp["cp"]=cp_value
data_cp.to_csv('../data/data_cp.csv',index=False)
data_cp.head()

   id                cp
0   1    typical angina
1   2   atypical angina
2   3  non-anginal pain
3   4      asymptomatic

In [11]:
#16 fbs: (fasting blood sugar > 120 mg/dl)  (1 = true; 0 = false)
 
id=[1,0]
fbs_value=[
    True,
    False
]
data_fbs=pd.DataFrame()
data_fbs["id"]=id
data_fbs["fbs"]=fbs_value
data_fbs.to_csv('../data/data_fbs.csv',index=False)
data_fbs.head()

   id    fbs
0   1   True
1   0  False

In [12]:
  #-- 7. resting electrocardiographic results  (values 0,1,2) 
 # 19 restecg: resting electrocardiographic results
 #       -- Value 0: normal
 #       -- Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
 #       -- Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria
id=[0,1,2]
restecg_value=["normal", " having ST-T wave abnormality","Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria"]
data_restecg=pd.DataFrame()
data_restecg["id"]=id
data_restecg["restecg"]=restecg_value
data_restecg.to_csv('../data/data_restecg.csv',index=False)
data_restecg.head()

   id                                            restecg
0   0                                             normal
1   1                       having ST-T wave abnormality
2   2  Value 2: showing probable or definite left ven...

In [13]:
 # exang: exercise induced angina (1 = yes; 0 = no)


id=[0,1]
exang_value=[
     "yes",
     "no"
]
data_exang=pd.DataFrame()
data_exang["id"]=id
data_exang["exang"]=exang_value
data_exang.to_csv('../data/data_exang.csv',index=False)
data_exang.head()

   id exang
0   0   yes
1   1    no

In [14]:
 ## 41 slope: the slope of the peak exercise ST segment
 ##      -- Value 1: upsloping
 ##      -- Value 2: flat
 ##      -- Value 3: downsloping
id=[1,2,3]
slope_value=[
      "upsloping",
      "flat",
      "downsloping"
]
data_slope=pd.DataFrame()
data_slope["id"]=id
data_slope["slope"]=slope_value
data_slope.to_csv('../data/data_slope.csv',index=False)
data_slope.head()

   id        slope
0   1    upsloping
1   2         flat
2   3  downsloping

In [15]:
  #-- 14. Target(Absence (1) or presence (2) of heart disease) 


id=[1,2]
target_value=[
     "Absence",
     "presence"
]
data_target=pd.DataFrame()
data_target["id"]=id
data_target["target"]=target_value
data_target.to_csv('../data/data_target.csv',index=False)
data_target.head()

   id    target
0   1   Absence
1   2  presence

In [16]:
data_raw.columns

Index(['age', 'sex ', 'chest pain type', 'resting blood pressure',
       'serum cholestoral', 'fasting blood sugar',
       'resting electrocardiographic results', 'max heart rate',
       'exercise induced angina', 'oldpeak', 'ST segment', 'major vessels',
       'thal', 'heart disease'],
      dtype='object')

In [18]:
data_raw.columns=['age','sex','chest_pain_type','resting_blood_pressure',
'serum_cholestoral','fasting_blood_sugar',
'resting_electrocardiographic_results','max_heart_rate',
'exercise_induced_angina','oldpeak','ST_segment','major_vessels',
'thal','heart_disease']

In [19]:
data_raw.to_csv('../data/data_reformat.csv',index=False)
data_raw.head()

,age,sex,chest_pain_type,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,max_heart_rate,exercise_induced_angina,oldpeak,ST_segment,major_vessels,thal,heart_disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,2
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,1
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,2
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,1
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,1